* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white-: #ffffff;
    --purple-1: #A18AFF;
    --purple-2: #CA8BFE;
    --sky-3: #3FD4F4;
    --pink: #FD99AF;
    --grey: #717082;
    --yellow-3: #FAC608;
    --size-sm: 8px;
    --size-md: 16px;
    --size-lg: 28px;
    --size-xl: 56px;
    --font-primary: "Public Pixel Font", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  h1{
    color:var(--pink) ;
    font-size: var(--size-xl);
  }